{% extends 'base_public.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <h3>Résultat de votre recherche</h3>
                <div class="container-card">
                    {% for article in articles %}
                        {% include "fragment/_cardArticle.html.twig" %}
                    {% endfor %}
                    <!--<div class="card">
                        <div class="column-30">
                            <img src="" alt="">
                        </div>
                        <div class="column-65">
                            <div class="encart">
                                <p class="etiquette">La categorie</p>
                                <div class="card-head">
                                    <h4>titre de l'article</h4>
                                    <p class="sous-titre">pseudo</p>
                                </div>
                                <div class="card-date">
                                    <p>date de modification ou parution</p>
                                </div>                            
                                <p class="chapeau">chapeau de l'article</p>
                                <div class="cta">
                                    <a href="#" title="">
                                        <p>Lire la suite</p>
                                        <img src="" alt="">
                                    </a>
                                </div>
                                <div class="info-article">
                                    <div class="avis">
                                        <div class="commentaire">
                                            <img src="" alt="">
                                            <p>nbre de commentaire</p>
                                        </div>
                                        <div class="like">
                                            <img src="" alt="">
                                            <p>nbre de like</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
