{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block recherche %}{% endblock %}

{% block body %}
    <div class="cta">
        <button class="primary-btn"><a href="{{path('article_create')}}" title="Créer un nouvel article">Créer un nouvel article</a></button>
    </div>
    <section class="articles-publies">
        <div class="row">
            <h3>Mes articles Publiés</h3>
            <div class="contenair-card">
                {% for article in articlesPublies %}
                    {% include "fragment/_cardArticle.html.twig" %}                    
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="articles-non-publies">
        <div class="row">
            <h3>Mes articles Non publiés</h3>
            <div class="contenair-card">
                {% for article in articlesNonPublies %}
                    {% include "fragment/_cardArticle.html.twig" %}                    
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
